language: java

jdk:
  - oraclejdk8

# before_cache:
#   - rm -f $HOME/.gradle/caches/modules-2/modules-2.lock

# cache:
#   directories:
#     - $HOME/.gradle/caches/
#     - $HOME/.gradle/wrapper/
#     - $HOME/.m2

# check out the dependency
before_install:
  - cd ${TRAVIS_BUILD_DIR}/..
  - git clone --depth=50 --branch=master https://github.com/vlingo/vlingo-common.git
  - cd ${TRAVIS_BUILD_DIR} # back to the origin

script:
  # - mvn install # gradle dependencies are set up for the CI
  - echo "JAVA_HOME: $JAVA_HOME"
  - gradle test --rerun-tasks --stacktrace
